html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: #002;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active {
  background: white;
  color: #002;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 2em;
  width: 90vw;
  height: 90vh;
  margin: 5vh auto;
  position: relative;
}

.topleft {
  position: absolute;
  top: 20px;
  left: 40px;
}

hr {
  width: 100%;
  border: 1px solid grey;
  margin: 20px 0;
}

nav {
  width: 50%;
  margin-left: 50%;
}

nav ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: space-around;
  flex-direction: row;
}

nav li {
  border: 1px solid white;
  width: 30%;
  text-align: center;
  padding: 10px;
  border-radius: 1em;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
